body {
    margin: 0;
    width: 100vw;
    text-align: center;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
    background: rgb(236, 235, 235);
    padding: 20px;
    box-sizing: content-box;
}

input {
    width: 200px;
    box-sizing: content-box;
    border-radius: 5px;
    margin: 10px auto;
}

select {
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
}

.radio input {
    margin-top: 30px;
    width: 20px;
}

button {
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 5px;
}